#searchCity{
    font-size: 25px;
    font-weight: bold;
}
#weatherStyle{
    display: flex;
    flex-direction: column;
}
#weatherHis{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar{
    background: linear-gradient(to right,lightblue,blue,indigo);
}
.navbar-brand{
    font-weight: bold;
    color:black;
}
#searchbtn{
width: auto;
}
button {
width: 25%;
margin: 2px;
}

tbody{
    background-color: whitesmoke;
}